*. filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
web/* filter=lfs diff=lfs merge=lfs -text
StreamingAssets/web/* filter=lfs diff=lfs merge=lfs -text
StreamingAssets/aa/WebGL/* filter=lfs diff=lfs merge=lfs -text
ServerData/WebGL/* filter=lfs diff=lfs merge=lfs -text